cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.DS_Store
Thumbs.db
node_modules/
.env

.yalc
yalc.lock

kyc.production.json
contractsInfo.json
deployments/hardhat
# deployments/localhost

.dapp/
_lib/
lib/